<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset ="utf-8">
    <meta http-equiv = "X-UA-Compatible" content ="IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale =1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Creators</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <!--Responsiveness-->
	  <meta name = "viewport" content = "width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = yes">
  </head>
  <body>
    <body class ="light-theme">
    <header class = "header">
    <!--Logo-->
    <div class = "header-left-side">
        <p><img src = "/img/wall-logo.png" alt = "logo"></p>
    </div>
    <!--Empty-->
    <div class = "header-middle"></div>
    <!--Other Links-->
    <div class = "header-right">
        <nav>
            <h3><a href = "/" class = "about">about</a>&nbsp;</h3>
            <p> </p>
		    <h3><a href = "/media" class = "posthere"> post here </a>&nbsp;</h3>
        </nav>
    </div>
    </header>
    <main>
        <!--About the Creators-->
        <h1>Creators:</h1>

        <br>
        <div class="members-grid">
        <div class="groupMember">
        <h2>Catherine Troung</h2>
        <img src = "/img/cathy.jpg" width = 200px height = 250px alt = "Picture of Catherine Troung">
        <section>
          <p>
            University: University of California, Riverside
          </p>
          <p>
            Year: Freshman
          </p>
          <p>
            Major: Computer Engineering
          </p>
        </section>
        </div>
        <div class="groupMember">
        <h2>Behzod Moydinboyev</h2>
        <img src = "/img/bez.jpg" width = 200px height = 250px alt = "Picture of Behzod Moydinboyev">
        <section>
          <p>
            University: University of South Florida
          </p>
          <p>
            Year: Sophomore
          </p>
          <p>
            Major: Computer Science
          </p>
        </section>
        </div>
        <div class="groupMember">
        <h2>Joel Shaw</h2>
        <img src = "/img/joe.jpg" width = 200px height = 250px alt = "Picture of Joel Shaw">
        <section>
          <p>
            University: University of Central Florida
          </p>
          <p>
            Year: Senior
          </p>
          <p>
            Major: Computer Engineering
          </p>
        </section>
        </div>
        <div class="groupMember">
        <h2>Xinyi Jian</h2>
        <img src = "/img/yani.jpg" width = 200px height = 200px alt = "Picture of Xinyi Jian">
        <section>
          <p>
            University: University of Central Florida
          </p>
          <p>
            Year: Junior
          </p>
          <p>
            Major: Computer Science
          </p>
        </section>
        </div>
      </div>
        </main>
  </body>
</html>