<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset ="utf-8">
    <meta http-equiv = "X-UA-Compatible" content ="IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale =1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Wall of Shame</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <!--Responsiveness-->
	  <meta name = "viewport" content = "width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = yes">
  </head>
  <body>
    <body class ="light-theme">
    <!--Header with logo and links-->
	  <header class = "header">
    <!--Logo-->
		<div class = "header-left-side">
      <p><img src = "/img/wall-logo.png" alt = "logo"></p>
		</div>
    <!--Empty-->
    <div class = "header-middle"></div>
    <!--Other Links-->
		<div class = "header-right">
			<h3><a href = "/" class = "about">about</a></h3>
			<h3><a href = "/creators" class = "creators">creators </a></h3>
			<h3><a href = "/media" class = "posthere">post</a></h3>
		</div>
	</header>
    <div class="welcome-msg">
      <h1>Welcome!</h1>
      <p>Welcome to the Wall of Shame! Here is where you can share your most embrassing moments anonymously with other users!</p>  
    </div>
    <div class="userPosts">
      <% for (let j = items.length - 1; j > -1; j--) {%>
        <div class="singlePost">
          <h3><%= items[j].title %></h3>
          <p class="singlePost-content"> <%= items[j].message_text %> </p>
          <p class="singlePost-date"> <%= items[j].date_added %> </p>
        </div>
      <% } %>
    </div>

    <script src="../public/index.js"></script>
  </body>
</html>