<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset ="utf-8">
    <meta http-equiv = "X-UA-Compatible" content ="IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale =1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Post Here</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <!--Responsiveness-->
	  <meta name = "viewport" content = "width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = yes">
  </head>
  <body>
    <body class ="light-theme">
    <header class = "header">
    <!--Logo-->
    <div class = "header-left-side">
        <p><img src = "/img/wall-logo.png" alt = "logo"></p>
    </div>
    <!--Empty-->
    <div class = "header-middle"></div>
    <!--Other Links-->
    <div class = "header-right">
        <nav>
            <h3><a href = "/" class = "about">about </a>&nbsp;</h3>
		    <h3><a href = "/creators" class = "creators">creators </a>&nbsp;</h3>
        </nav>
    </div>
    </header>
    <main>
        <h2>Post Here!</h2>
        <form action = "/media" method = "post">
          <label for = "title">Title:</label><br>
          <input type = "text" id = "title" name = "title"><br><br>
          <label for = "content">Content:</label><br>
          <textarea rows = "5" cols = "50" name = "content"></textarea><br><br>
          <button class = "button button1" type = "submit">Submit</button>
        </form>
    </main>
  </body>
</html>